.sobre__descricao {
    color: #8c8888;
    font-size: 1.75rem;
    font-weight: 100;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
    .sobre__descricao {
        font-size: 1.3rem;
    }
}
